*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
    /* ________________________________Header mobil__________________________________________ */
header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 40px;
  font-size: 1rem;
  padding-top: 5px;
  padding-right: 10px;
  font-family: 'Manrope', sans-serif;
}
/* ________________________________Nav mobil_________________________________________ */

nav a{
    color: black;
    
}
nav a:hover{
  color: rgb(51, 51, 165);  
}



/* ______________________________________Logo mobil___________________________________ */

.logo{
  display: block;
  width: 65px;
  height: auto;
  object-fit: cover;  
}

/* ____________________________Main mobil_________________________ */

main{
    margin: 30px;
}


/* _______________________________________Footer mobil___________________________________ */
footer a, footer p{
    color: black;
    font-size: 1rem;
}

footer{
    display: grid;
    place-content: center;
    line-height: 2rem;
    font-family: 'Manrope', sans-serif;
}

@media (min-width: 800px) {
/* _______________________________________Header web________________________________________ */
header nav ul{
font-size: 1.3rem;
}

/* _______________________________________Footer web___________________________________ */
footer a, footer p{
    color:black;
    font-size: 1rem;
    line-height: 4rem;
}

.footer{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-left: 80px;
    margin-right: 80px;
}

/* __________________________________________Logo web_________________________________ */
.logo{
  display: block;
  width: 110px;
  height: auto;
  object-fit: cover;  
}
}
